<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-dark">
      <caption>Teste</caption>
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Endereço</th>
              <th scope="col">Conta</th>
              <th scope="col">CPF</th>
            </tr>
          </thead>
          <tbody>
            <!-- for each cliente in clientes display each attribute in a row -->
            <tr th:each="cliente : ${clientes}">
              <th scope="row" th:text="${cliente.idCliente}"></td>
              <td><a th:href="@{/private/pacotes/clientepage/{id}(id=${cliente.idCliente})}" th:text="${cliente.clienteNome}"></a></td>
              <td th:text="${cliente.clienteEndereco}"></td>
              <td th:text="${cliente.clienteCpf}"></td>
          </tbody>
    </table>
</body>
</html>